<div class="main">
  <h1>Equipment</h1>
  <h2>Your equipment</h2>

  <div class="row">
    <!-- Sélecteur pour choisir le type d'équipement -->
    <poc-selector
      [options]="shopOptions()"
      [selectedValue]="selectedOption()"
      (selectionChange)="onSelectionChange($event)"
    ></poc-selector>

    <!-- Affichage des items en fonction de la sélection -->
    <ng-container *ngFor="let item of filteredItems()">
      <poc-item-container
        [itemName]="item.name"
        [itemDescription]="item.description"
        [itemPrice]="item.price"
        [itemRarity]="item.rarity"
        [shop]="true"
        [buttonText]="'Buy'"
      >
        <div class="item-details">
          <p><strong>Rarity:</strong> {{ item.rarity }}</p>
          <p><strong>Price:</strong> {{ item.price }} gold</p>
        </div>
      </poc-item-container>
    </ng-container>
  </div>
</div>
