<common-form-modal title="Item" (onSubmit)="onSubmit()">
  <form [formGroup]="formGroup" class="forms">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Rarity</mat-label>
      <mat-select formControlName="rarity">
        @for (rarity of rarities | keyvalue; track $index) {
          <mat-option [value]="rarity.value">
            {{ rarity.value | titlecase }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Price</mat-label>
      <input matInput formControlName="price" type="number" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </form>
</common-form-modal>
