// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './app/styles/bo-theme-colors.scss' as bo;

@include mat.elevation-classes();
@include mat.app-background();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.theme((color: (primary: bo.$primary-palette,
        tertiary: bo.$tertiary-palette,
        theme-type: light,
      ),
      typography: Roboto,
      density: 0));
}

.dark-mode {
  @include mat.theme((color: (primary: bo.$primary-palette,
        tertiary: bo.$tertiary-palette,
        theme-type: dark)));
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
