<div class="main">
  <h1>Equipment</h1>
  <h2>Your equipment</h2>

  <div class="row">
    <!-- Sélecteur pour choisir le type d'équipement -->
    <poc-selector
      [options]="shopOptions"
      [selectedValue]="selectedOption()"
      (selectionChange)="onSelectionChange($event)"
    ></poc-selector>

    <!-- Affichage des items en fonction de la sélection -->
    <ng-container *ngFor="let item of filteredItems()">
      <poc-item-container
        [itemName]="item.name"
        [itemDescription]="item.description"
        [itemRarity]="item.rarity"
        [buttonText]="'Equip'"
      >
      </poc-item-container>
    </ng-container>
  </div>
</div>
