<div class="main">
  <header>
    <div class="logo" alt="Logo">
      <img src="../../../../assets/img/logo.jpg">
    </div>
    <div class="nav">
      <nav>
        <ul class="nav-list">
          <li><a routerLink="dashboard">Home</a></li>
          <li><a routerLink="boat">Boat</a></li>
          <li><a routerLink="equipment">Equipment</a></li>
          <li><a routerLink="crew">Crew</a></li>
          <li><a routerLink="exploration">Explore</a></li>
        </ul>
      </nav>
    </div>
  </header>
</div>

