<div class="main">
  <header>
    <div class="logo" alt="Logo">
      <img alt="logo-pirate-odyssey" src="../../../../assets/img/logo.jpg" />
    </div>
    <div class="resources">
      <div class="resource-item" *ngFor="let resource of resources">
        <p>{{ resource.resourceType }}:</p>
        <p>{{ resource.amount }}</p>
        <img
          alt="resources"
          class="picto"
          src="../../../../assets/img/{{ resource.img }}.jpg"
        />
      </div>
    </div>
    <div class="nav">
      <!-- Menu burger -->
      <div class="burger-menu" (click)="toggleMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <!-- Navigation principale -->
      <nav [class.open]="menuOpen">
        <ul class="nav-list">
          <li><a routerLink="dashboard">Home</a></li>
          <li><a routerLink="ship">Ship</a></li>
          <li><a routerLink="equipment">Equipment</a></li>
          <li><a routerLink="crew">Crew</a></li>
          <li><a routerLink="exploration">Explore</a></li>
          <li><a routerLink="shop">Shop</a></li>
        </ul>
      </nav>
    </div>
  </header>
</div>
