<boc-details title="Item">
  <section id="information">
    <h3>General information</h3>
    <div>
      <p>Name: {{ item.value()?.name }}</p>
      <p>Price: {{ item.value()?.price }}</p>
      <p>Rarity: {{ item.value()?.rarity }}</p>
      <p>Description: {{ item.value()?.description }}</p>
    </div>
    <mat-divider />
  </section>

  <section id="stats">
    @if (item.value() !== null) {
      <bo-item-stat-list
        [(stats)]="item.value()!.stats"
        [itemId]="item.value()!.id"
      ></bo-item-stat-list>
    }
  </section>
</boc-details>

<bo-side-content>
  <footer>je suis en bas</footer>
  <span>coucou c'est moi mon chou, ca va ?</span>
</bo-side-content>
