<boc-form-modal title="Item Stat" [isUpdate]="isUpdate" (onSubmit)="onSubmit()">
  <form [formGroup]="formGroup" class="form">
    <mat-form-field>
      <mat-label>Stat</mat-label>
      <mat-select formControlName="stats">
        @for (stat of stats | keyvalue; track $index) {
          <mat-option [value]="stat.value">{{ stat.value }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Value</mat-label>
      <input matInput formControlName="value" />
    </mat-form-field>
  </form>
</boc-form-modal>
